{% extends '/components/base.html' %}

{% block title %}
home | STR3AM
{% endblock %}

{% block content %}

<section>
    <h2>Featured Songs</h2>
    {% if featured.songs %}
    <div class="d-flex d-row flex-wrap">
        {% for song in featured.songs %}
        <div class="card-box mx-2 my-2">

            <a class="playlist-link" data-bs-toggle="modal" data-bs-target="#add-playlist">
                &#xFF0B;
            </a>

            <!-- Modal -->
            <div class="modal fade" id="add-playlist" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-playlist-title">Add to Playlist</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form action="/add_to_playlist" method="post">
                                {% for playlist in user.playlists %}
                                <button class="btn-box" type="submit" data-bs-dismiss="modal" name="selected"
                                    value="{{ song.id }} {{ playlist.id }}">
                                    {{ playlist.name }}
                                </button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <img src="{{url_for('static',filename=song.album.album_cover_url if song.album else 'default_album.jpg')}}"
                width="200px">
            <a href="{{ url_for('play', song_id=song.id, action='play') }}" class="track-title">{{song.song_name}}</a>
            <div><span class="text-muted">@{{song.user.username}}</span> // {{song.album.album_name if song.album else
                ""}}</div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No songs added yet :/</p>
    {% endif %}
</section>

<hr>

<section>
    <h2>Featured Albums</h2>
    {% if featured.albums %}
    <div class="d-flex d-row">
        {% for album, total_plays in featured.albums %}
        <div class="card-box mx-2 my-2">
            <img src="{{url_for('static', filename=album.album_cover_url)}}" width="200px">

            <div class="track-title">{{album.album_name}}</div>
            <div><span class="text-muted">@{{album.user.username}}</span></div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No albums added yet :/</p>
    {% endif %}
</section>


{% endblock %}