{% extends '/components/base.html' %}

{% block title %}
st3am | login
{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="post" style="max-width: 500px;">
    <label for="username" required>Username :
        <input type="text" name="username" id="username" required />
    </label>
    <label for="password" class="form-label" required>Password :
        <input type="password" name="password" id="password" required />
    </label>
    <input type="submit" value="Login">

    <p>
        or <a href="/register" >Register</a> instead.
    </p>
</form>
{% endblock %}