{% extends '/components/base.html' %}

{% block title %}
Search | STR3AM
{% endblock %}

{% block content %}
<style>
	form.search-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 10px;
	}

	.search-form input[type="text"] {
		flex-grow: 2;
	}
</style>

<section class="my-4">
	<form method="get" class="search-form">
		<input type="text" name="search" id="search" placeholder="Type here" autocomplete="off">
		<button type="submit" class="btn-box">Search</button>
	</form>

	<form class="genre-list d-block">
		{% for genre in genres %}
		<button type="submit" name="genre" value="{{genre.id}}" class="btn-box mb-2">{{genre.name}}</button>
		{% endfor %}
	</form>
</section>

<hr>

<section>
	<h2 class="mb-3">Songs</h2>
	<div class="song-container d-flex flex-row flex-wrap">
		{% if not results %}
		<p>No songs found :(</p>
		{% endif %}
		{% for song in results %}
		<div class="card-box mx-2 my-2">

			<a class="playlist-link" data-bs-toggle="modal" data-bs-target="#add-playlist-{{song.id}}">
				&#xFF0B;
			</a>

			<!-- Modal -->
			<div class="modal fade" id="add-playlist-{{song.id}}" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="add-playlist-title">Add to Playlist</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>

						<div class="modal-body">
							<form action="/add_to_playlist" method="post">
								{% for playlist in user.playlists %}
								<button class="btn-box" type="submit" data-bs-dismiss="modal" name="selected"
									value="{{ song.id }} {{ playlist.id }}">
									{{ playlist.name }}
								</button>
								{% endfor %}
								{% if not user.playlists %}
								Create a playlist to add this song.
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			</div>

			<img src="{{url_for('static', filename=song.album.album_cover_url if song.album else 'default_album.jpg')}}"
				width="200px">

			<a href="{{ url_for('play', song_id=song.id, action='play') }}" class="track-title">{{song.song_name}}</a>
			<div><span class="text-muted">@{{song.user.username}}</span> // {{song.album.album_name if song.album else
				""}}</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}