* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background: rgb(255, 220, 226);
    max-width: 800px;
    width: fit-content;
    margin-top: 60px;
    margin-inline: auto;

}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #111;
}

a:hover,
.hover-slant {
    font-style: italic;
}

.btn-box {
    
    background: #eee;
}



.btn-check-box {
    padding: 5px 12px;
    border: 1px solid #111;
    border-radius: 0;
    background: red;
}

.btn-box,
input[type="submit"] {
    color: black;
    padding: 5px 12px;
    border: 1px solid #111;
    border-radius: 0;
}

input[type="submit"] {
    background: #198754;
    color: white;
}

.btn-success {
    padding: 5px 12px !important;
}

.btn-box-check:checked,
button.btn-box:active,
input[type="submit"]:active,
a:active {
    color: #eee;
    background: #111;
}

form {
    background-color: #fff5;
    padding: 15px 15px 30px 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    width: 100%;
    margin: 5px 0;
    padding: 4px 8px;
    font-size: 22px;
}

.card-box {
    display: flex;
    width: min-content;
    flex-direction: column;
    padding: 5px;
    background: white;
    border: 1px solid #111;
}

.track-card {
    display: flex;
    max-width: 200px;
    gap: 8px;
    background: white;
    border: 1px solid #111;
    padding: 3px 6px 3px 3px;
}

.track-subtitle {
    font-size: 14px;
    padding-top: 5px;
}

.track-card img {
    height: 60px;
}

.track-title {
    font-weight: 600;
    font-size: larger;
    padding-bottom: 2px;
}