<style>
    p {
        margin: 0;
        padding: 0;
    }

    :root {
        --player-percent: 0%;
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    #music-player::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: var(--player-percent);
        mix-blend-mode: difference;
        height: 100%;
        background: #fff;
        z-index: 10;
    }

    #music-player {
        background: #eee;
        position: fixed;
        width: 100%;
        height: var(--player-height);
        bottom: 0;
        padding: 10px;
        left: 0;
        border-top: 1px solid #111;
    }

    #music-player .panel {
        display: flex;
        align-items: center;
        border: 1px solid #555;
        align-items: center;
    }

    #music-player .panel>*:not(.rate) {
        padding: 10px 12px;
    }

    #music-player .panel form {
        display: flex;
        flex-direction: row;
        background: transparent;
        z-index: 20;
        gap: 20px;
    }

    #music-player .panel form button {
        color: #111;
        border: 1px solid #222;
    }

    #music-player .panel form button:active {
        color: white;
        border: 1px solid #222;
        background: #222;
    }

    #music-player .panel::before {
        content: 'Now Playing';
        background: #eee;
        font-size: 12px;
        position: absolute;
        top: 0px;
        right: 30px;
        padding: 2px 5px;
    }

    .song-title {
        font-weight: 900;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
        background: white;
    }

    .rate {
        float: left;
        padding: 0;
        margin: 0;
        z-index: 10;
    }

    .rate:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked)>label {
        position: relative;
        float: right;
        width: 1.1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

    .rate:not(:checked)>label:before {
        content: '★ ';
        position: absolute;
        top: -14px;
        font-size: 40px;
        display: block;
    }

    .rate>input:checked~label {
        color: #ffc700;
    }

    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
        color: #deb217;
    }

    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
        color: #c59b08;
    }
</style>

{% if current_track %}

<div id="music-player">
    <div class="panel">
        <form action="{{ url_for('play') }}" method="post">
            <input type="hidden" name="current" value="{{ current_track }}">
            <button type="submit" name="action" value="play" class="material-icons">play_arrow</button>
            <button type="submit" name="action" value="pause" class="material-icons">pause</button>
        </form>

        <p class="song-title">{{ current_track.song.song_name if current_track.song.song_name else "..." }}</p>

        {% if current_track.song %}

        <p class="song-artist">@{{current_track.artist.username}} //</p>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">&zwnj;</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">&zwnj;</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">&zwnj;</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">&zwnj;</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">&zwnj;</label>
        </div>

        {% endif %}

        <p id="time" class="d-flex"><span id="seconds-played">00:00</span>/ <span id="duration">{{ current_track.length
                if
                current_track.length
                else "00:00" }}</span></p>


        <script>
            setInterval(function () {
                fetch('/get_seconds_played')
                    .then(response => response.json())
                    .then(data => {
                        elapsed = data.current_seconds_played.split(":")
                        elapsed_sec = parseInt(elapsed[0]) * 60 + parseInt(elapsed[1])
                        duration = document.getElementById('duration').innerHTML.split(':')
                        duration_sec = parseInt(duration[0]) * 60 + parseInt(duration[1])

                        if (duration_sec != 0)
                            document.documentElement.style.setProperty("--player-percent", `${elapsed_sec * 100 / duration_sec}%`)

                        document.getElementById('seconds-played').innerText = data.current_seconds_played;
                    })
                    .catch(error => console.error('Error:', error));
            }, 500);
        </script>
    </div>

</div>
{% endif %}